body {
	width: 100%;
	height: 100%;
	background-color: rgba(124,106,240,0.20);
}
.page-content .video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	margin-top: 47px;
	z-index:-100;
} 
.page-content {
    position: relative;
    height: 0;
	padding-bottom:50%;
}
.page-content .img-holder {
	position: absolute;
    top: 100px;
	left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
	background-color: rgba(32,35,200,1.00);

}
.page-content .slogan-holder {
	width: 100%;
	position: relative;
	z-index: 10;
	height: 100px;
	top: 100px;
	background-color: rgba(179,168,19,1.00);
}
